<div id="login" data-role="view" data-title="Log In" data-layout="LogIn" data-model="app.LogIn" data-show="app.LogIn.onShow">
    <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    Username:
                    <input type="text" name="username" data-bind="value: username">
                </label>
            </li>
            <li>
                <label>
                    Passwordd:
                    <input type="password" name="password" data-bind="value: password">
                </label>
            </li>
            <li>
                <button style="width: 100%" data-role="button" data-bind="click: submit">Login</button>
            </li>
        </ul>
    </form>
    <a data-role="button" href="components/Register/Register.html" class="LSButtons">Create an account</a>
    <a data-role="button" href="components/ForgotPassword/ForgotPassword.html" class="LSButtons">Forgot password?</a>
</div>